/* Work Sans Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: 0;
}


.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}


.text-light-gray {
    color: #727272;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* Main Styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* Teams Styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-content-title {
    font-size: 2.8rem;
}

.teams-content-title .quick-list {
    font-weight: 500;
}

.teams-content-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* Features Styles */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature-content .card {
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-img img {
    margin-left: 90px;
    height: 90%;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

/* Facts Section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    margin-top: 5px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Sponsors Styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}

.sponsors-img-container img {
    width: 165px;
}


/* Footer Section */
footer {
    background: rgba(255, 144, 14, 0.10);
    padding: 40px 410px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}



/* -------------------- Responsive Styles -------------------- */
/* Mobile Devices */
@media screen and (max-width:576px) {

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    header {
        padding: 20px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-img-container img {
        width: 100%;
    }

    .feature-img img {
        width: 100%;
        margin-left: 0;
    }

    .ten-years-badge {
        position: static;
        max-width: 240px;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    footer {
        padding: 20px;
    }
}

/* Tablet Devices */
@media screen and (min-width:577px) and (max-width:960px) {

    nav,
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .facts-card-container {
        gap: 20px;
    }

    header {
        padding: 50px;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .teams-img-container img {
        width: 100%;
    }

    .feature-img img {
        width: 100%;
        margin-left: 0;
    }

    footer {
        padding: 20px;
    }
}